.ModelWrapper {
    position: absolute;
    left: 200px;
    width: 100px;
    top: 10px;
    
    border-radius: 2px;
    background-color: #fff;
    border: solid 1px black;

    ul {
        padding: 0px;
        margin: 0px;
    }
     li {
        border-radius: 2px;
        color: black;
        list-style: none;
        padding-left: 10px;
        padding: 5px;
        &:hover {
            background-color: beige;
        }
    }
}
