.Folder {
    position: relative;
    color: #F8F8F2;
    padding: 10px;
    padding-bottom: 0px;
    cursor: pointer;
    border-radius: 10px;
     ul {
        padding: 0px;
        margin: 0px;
    }
     li {
      
        list-style: none;
        padding-left: 10px;
        padding: 5px;
       
    }
}
.File {
    position: relative;
    color: #F8F8F2;
    padding: 10px;
}